---
title: Index
layout: layouts/home.njk
description: 騙吃騙喝的學習心得與技術分享
image: img/everyone-can-code.jpg
date: Last Modified
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: /{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}

  {% include "pagination.njk" %}
</div>