---
#layout: layouts/base.njk
templateClass: tmpl-post
---

{% extends "layouts/base.njk" %}
{% block extraArticleHeader %}
  {% set wc = content | striptags | wordcount %}
  {% set wPerMinute = (wc / 240) + 1 %}
  <aside>
    {# {{ wPerMinute | round }} min read. #}
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time>
  </aside>
{% endblock %}
{% set shareUrl = metadata.url + page.url %}
{% block article %}
  {% if image %}
    <img src="{{ image }}" class="topImg"/>
  {% endif %}
  {{ content | safe }}
  <section class="article-bottom">
    <ul class="article-tags-list">
      {% for tag in tags %}
        {% if tag != 'posts' %}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <li class="tag">
            <a href="{{ tagUrl | url }}">#{{ tag }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="post-bottom_next-prev">
    <ul class="post_next-prev">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <li class="post_next">
          <span class="post_next--label">
            {% include "icons/angle-left.njk" %}
            Next
          </span>
          <a class="post_next--link" href="{{ nextPost.url | url }}">
            {{ nextPost.data.title }}
          </a>
        </li>
      {% endif %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <li class="post_prev{%- if not nextPost %} ml-md-auto{% endif %}">
          <span class="post_prev--label">
              Previous
              {% include "icons/angle-right.njk" %}
          </span>
          <a class="post_prev--link" href="{{ previousPost.url | url }}">
            {{ previousPost.data.title }}
          </a>
        </li>
      {% endif %}
    </ul>
  </section>
  <section class="article-author">
    <div
      class="article-author-avatar">{# <img alt="metadata.author.name" src="/img/avatar.jpg"> #}
    </div>
    <div class="article-author-info">
      <div class="article-author-name">
        <strong>
          <a href="/about/">{{ metadata.author.name }}</a>
        </strong>
      </div>
      <div class="article-author-desc">{{ metadata.author.description }}</div>
    </div>
  </section>
  <section class="article-comment">
    <script src="https://giscus.app/client.js"
            data-repo="frantw/eleventy-high-performance-blog"
            data-repo-id="R_kgDOHQSdIQ"
            data-category="Comments"
            data-category-id="DIC_kwDOHQSdIc4CQfRB"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="dark_dimmed"
            data-lang="zh-TW"
            data-loading="lazy"
            crossorigin="anonymous"
            defer csp-hash>
    </script>
  </section>
  {# <h1>🙏🙏🙏</h1>
  <p>
    Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share">sharing</a> this article on your favorite social media network 
    would be highly appreciated 💖! For feedback, please 
    <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
  </p>
  #}
  <share-widget>
    <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
      <div></div>
    </button>
  </share-widget>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ title }}",
    "image": [],
    "author": "{{ metadata.author.name }}", 
    "genre": "{{ metadata.genre }}", 
    "publisher": {
      "@type": "Organization",
      "name": "{{ metadata.publisher.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
      }
    },
    "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "datePublished": "{{ page.date | htmlDateString }}",
    "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
    "description": "{{ content | striptags | truncate(140) }}"
  }
  </script>
{% endblock %}